* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jeux {
    width: 40%;
    height: 30em;
    border: ridge 1em rebeccapurple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#etatJeux {
    width: 40%;
    height: 5em;
    border: ridge 0.5em #993375;
}

.box {
    width: 25%;
    height: 25%;
    border: ridge 0.5em #993375;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 20px;
    background-size: cover;
}

.box:hover {
    cursor: pointer;

}

.flip {
    transform: rotateY(180deg);
}

.frontFace {
    width: 100%;
    height: 100%;
    background-color: #9900ff;
    backface-visibility: hidden;
}

img {
    width: 100%;
    height: 100%;
}

#start {
    padding: 10px;
}

.hidden {
    display: none;
}

