* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jeux {
    width: 40%;
    height: 30em;
    border: ridge 1em #06ffff;
    display: none;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
background-color: #6279c5;
}

#etatJeux {
    width: 40%;
    height: 3em;
    border: ridge 0.5em #2edc91;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#score {
    width: 33%;
}

#tentative {
    width: 33%;
}

.box {
    width: 25%;
    height: 40%;
    border: ridge 0.5em #2edc91;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 100px;
    background-size: cover;
    background: linear-gradient(0deg, rgba(255,255,255,1) 52%, rgba(195,34,34,1) 53%);
}

.box:hover {
    cursor: pointer;

}
.flip {
    transform: rotateX(360deg);
}
.noflip {
    transform: rotateX(-360deg);
}

.frontFace {
    width: 100%;
    height: 100%;
    background-color: #9900ff;
    backface-visibility: hidden;
}

img {
    width: 100%;
    height: 100%;
}

#start {
    padding: 5px;
    height: 30px;
    background-color: #98a9e5;
}

.hidden {
    display: none;
}

a {
    text-decoration-line: none;
    color: black;
}

#start:hover {
    cursor: pointer;
    background-color: #6279c5;
}


@media screen and (min-width: 320px) {
    #jeux {
        width: 90%;
    }
    .box {
        width: 50%;
        height: 25%;
    }
    #etatJeux {
        width: 90%;
    }
}

@media screen and (min-width: 620px) {
    #jeux {
        width: 70%;
    }
    .box {
        width: 25%;
        height: 40%;
    }
    #etatJeux {
        width: 70%;
    }
}
